{% extends 'music/base.html' %} 

{% block title %} {{ album.title }}, {{ album.artist }} {% endblock %} 

{% block body %}

<div class="container-fluid">

    <div class="row">

        <div class="col-md-6 text-center">
            <div class="panel panel-default">
                <div class="panel-body">
                    <img src="{{ album.cover }}" class="album__cover" />
                    <h1>{{ album.title }}</h1>
                    <h3>{{ album.artist }}</h3>
                    <h3>{{ album.genre }}</h3>
                </div>
            </div>

        </div>
        <div class="col-sm-12 col-md-6 text-center">
            <div class="thumbnail">
                <div class="caption">
                    <h3>Songs</h3>
                    {% if error_message %}
                    <p>{{ error_message }}</p>
                    {% endif %}
                    <ul>
                        {% for song in album.song_set.all %}

                        <li>{{ song.songTitle }}</li>

                        {% endfor %}
                    </ul>
                    <a href="{% url 'addsong' album.id %}">
                        <button class="btn btn-primary">Add Songs</button>
                    </a>
                </div>
            </div>
        </div>
    </div>



</div>

{% endblock %}