{% extends 'music/base.html' %} 
{% block title %} Songs {% endblock %} 

{% block body %}

<div class="col-sm-12 text-center">
    <div class="thumbnail">
        <div class="caption">
            <h3>All songs</h3>
            {% if error_message %}
            <p>{{ error_message }}</p>
            {% endif %}
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th class="text-center">Song</th>
                        <th class="text-center">Album</th>
                        <th class="text-center">Artist</th>
                    </tr>
                </thead>
                <tbody>
                    {% for song in all_songs %}
                    <tr>

                        <td>{{ song.album.id }}</td>
                        <td>{{ song.songTitle }}</td>
                        <td>{{ song.album.title }}</td>
                        <td>{{ song.album.artist }}</td>

                    </tr>
                    {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}