{% extends 'music/base.html' %} 
{% block title %} Add Song {% endblock %} 

{% block body %}

<div class="container-fluid">

    <div class="row">

        <div class="col-md-12">

            <div class="panel panel-default">

                <div class="panel-body">

                    <form action="" class="form-horizontal" method="post" enctype "multipart/form-data">
                        {% csrf_token %} 
                        
                        {% include 'music/form_template.html' %}

                        <button type="submit" class="btn btn-success">Add Song</button>
                    </form>

                </div>

            </div>

        </div>

    </div>

</div>

{% endblock %}